:root {
  margin: 0 auto;
  text-align: center;
  --primary: #262728;
  --secondary: #98a8da;
  --tertiary: #4d4f53;
  --accent: #0beff7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--tertiary);
  color: var(--secondary);
}

nav, footer {
  color: var(--accent);
  background-color: var(--tertiary);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  background-color: var(--tertiary);
  color: var(--primary);
}

header {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--accent);
  width: 100%;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  display: inline;
}

header h1:hover {
  color: var(--secondary);
  text-decoration: none;
}

header a {
  color: var(--accent);
  text-decoration: none;
}

header a:hover {
  color: var(--secondary);
  text-decoration: none;
}

header nav {
  margin: 7px 0;
  display: inline;
  width: 100%;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px 45px 0;
  list-style: none;
}

li {
  list-style: none;
}

h2 {
  border-radius: 5px;
  padding: 20px;
  /* border-bottom: 5px solid var(--tertiary); */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
